<twig:Card>
    <div class="user-info">
        <div class="user-avatar">NB</div>
        <div>
            <h2>Nicolas B.</h2>
            <p>Promo: 2024 • Niveau: Débutant • Groupe: Mercredi 19h </p>
        </div>
    </div>
</twig:Card>
