<div class="card-primary" {{ attributes }}>
    <div class="flex flex-row items-center gap-5">
        <div class="avatar">{{ app.user.initials }}</div>
        <div>
            <h2>{{ app.user.nickname }}</h2>
            <p class="dark:text-white">Niveau : {{ app.user.level }}</p>
        </div>
    </div>
</div>
