<div class="legend">
    <div class="legend-item">
        <div class="legend-color" style="background: #4caf50;"></div>
        <span>Créneau libre</span>
    </div>
    <div class="legend-item">
        <div class="legend-color" style="background: #f44336;"></div>
        <span>Créneau complet</span>
    </div>
    <div class="legend-item">
        <div class="legend-color" style="background: #2196f3;"></div>
        <span>Créneau Spécial</span>
    </div>
</div>
