<div class="mt-5 p-4 flex gap-5 flex-col lg:flex-row">
    <div class="flex items-center gap-2 text-black dark:text-white">
        <div class="w-4 h-4 rounded bg-green-500"></div>
        <span>Créneau libre</span>
    </div>
    <div class="flex items-center gap-2 text-black dark:text-white">
        <div class="w-4 h-4 rounded bg-yellow-500"></div>
        <span>Créneau complet</span>
    </div>
    <div class="flex items-center gap-2 text-black dark:text-white">
        <div class="w-4 h-4 rounded bg-red-500"></div>
        <span>Créneau Annulé</span>
    </div>
    <div class="flex items-center gap-2 text-black dark:text-white">
        <div class="w-4 h-4 rounded bg-blue-500"></div>
        <span>Créneau Spécial</span>
    </div>
    <div class="flex items-center gap-2 text-black dark:text-white">
        <span class="w-4 text-zinc-600 dark:text-zinc-400">{{ ux_icon('tabler:bow') }}</span>
        <span>Équipement Nécessaire</span>
    </div>
</div>
